extends layout


block content
  h1 Books
  p
    a(href="/books/new") Create New
  p
    a(href="/books/all") Show All
  p
    a(href="/books/overdue") Overdue
  p
    a(href="/books/out") Checked Out

  h1 Patrons
  p
    a(href="/patrons/new") Create New
  p
    a(href="/patrons/all") Show All

  h1 Loans
  p
    a(href="/loans/new") Create New
  p
    a(href="/loans/all") Show All
  p
    a(href="/loans/overdue") Overdue
  p
    a(href="/loans/out") Checked Out
